venv/
client-aplication/node_modules/

client-aplication/dist/
client-aplication/.vite/

Thiet Ke/76d179ba-f87e-462d-99ae-9f8e871e845c.jpeg
Thiet Ke/a0fa755e-af56-4d2a-93b2-e1f44a5d00f1.jpeg
Thiet Ke/a40972e7-824a-454d-b5fd-e16c7501476c.jpeg
smart_kettle_simulator/.env
ditto-docker/docker/dev.env
ditto-docker/docker/docker-compose.yml
ditto-docker/docker/index.html
ditto-docker/docker/mime.types
ditto-docker/docker/nginx-cors.conf
ditto-docker/docker/nginx.conf
ditto-docker/docker/nginx.htpasswd
ditto-docker/docker/README.md
ditto-docker/docker/swagger3-index.html
client-aplication/.env
ditto-ambassador/.env
ditto-ambassador/target/
client-aplication/node_modules/
